@import "_normalize.less";
@import "_light-bootstrap.less";
@import "_mixin.less";

/*
        #########.:''.
    ##########.::####
  ########  .::########
 #######  .::'  ########
 #######:::#############
 #####:::###############  I'M UR OLD BUDDY
 ####:::
  #:::###      #######
 .:::###############
 '::.   #########

*/


// [1] Add desktop layout for non-responsive oldies..
// --------------------------------------------------

.mobile {display: none !important;}

@col: 60px;
@gap: 20px;
.wrap {
  width: (@col + @gap) * 12 - @gap; //748px
}
.g-3col { width: (@col + @gap) * 3 - @gap }
.g-4col { width: (@col + @gap) * 4 - @gap }
.g-5col { width: (@col + @gap) * 5 - @gap }
.g-6col { width: (@col + @gap) * 6 - @gap }
.g-7col { width: (@col + @gap) * 7 - @gap }
.g-8col { width: (@col + @gap) * 8 - @gap }
.g-9col { width: (@col + @gap) * 9 - @gap }

@import "_r-desktop.less";
@import "_r-tablet-and-desktop.less";



// [2] Add fallback to fancy css - box-shadow, opacity, pseudo classes, border-radius
// --------------------------------------------------




// [3] Add fallback to svg
// --------------------------------------------------

svg {
  display: none !important;
}




// [4] More stuff to fix
// --------------------------------------------------





// --------------------------------------------------

// Browser specific fixes

// --------------------------------------------------


.ie7 {

  // [1] Fix z-index context
  // Add position:relative to nav's ancestor container to allow dropdown menu on top of other stuff.
  header, #main-nav {
    position: relative;
    z-index: 99999;
  }

  // [2] Fix sizing. Fallback to box-sizing: border-box


  // [3] Fallback to :before / :after


  // [4] Fallback to inherit styles


  // [5] Fix inline-block...


  // [6] Fix margin collapse...


  // [7] Remove gaps...


  // [8] Fix table tr styling...
  td {
    border-bottom: 1px solid #c0beae;
  }

  .flex-control-nav {
    bottom: 12px;
  }

  // More stuff to fix...


}

// --------------------------------------------------


.ie8 {

  // [1] Fix max-width img issue - add width: auto
  .content img {
    width: auto;
  }

  // [2] Negative margin fixes

  // More stuff to fix...


}
