@import "_normalize.less";
@import "_light-bootstrap.less";
@import "_mixin.less";
@import "_typography.less";

@import "../vendor/css/onMediaQuery.css";

/*
///////////////////////////////////////

CONTENTS

  0.0 Basic (For typographic styles see typography.less)
  0.1 Forms
  0.2 Tables
  0.3 Other Elements
  0.4 Wordpress Layout

  ------

  (Selectors listed below are only major ones, not all.)

  1.0 HEADER
  1.1 HOMEPAGE
  1.2 MAIN

  ... (Add more page styles if needed)

  9.0 FOOTER

  10.0 MOBILE MENU

  ------

  MEDIA QUERIES (Grids, font sizes, and odds.)

  S:   Landscape phone to desktop/tablet
  M:   Tablet to desktop
  L:   Large desktop and up
  M+L: Tablet + desktop

  ------

  PLUGINS

  (Nothing yet.)

///////////////////////////////////////
*/



//////////////// Basic ////////////////

.wrap {
  .clear;
  .clearfix;
  .center-block;
}

a {
  .transition(color .3s ease);
}
.icon { // SVG icons
  path {
    .transition(fill .3s ease);
  }
}

hr {
  border: none;
  width: 80%;
  margin: 3em 0;
  border-bottom: 1px solid @grey;
  text-align: left;
}
section {
  .clearfix;
  margin-bottom: 2em;
}
figure {
  img {
    max-width: 100%;
    height: auto;
  }
  iframe {
    max-width: 100%;
  }
}


//////////////// 0.1 Forms ////////////////

input, textarea {
  color: @ink;
  .sans-serif;
  .border-radius(0);
  border: 2px solid @grey;
  .border-radius(5px);
  .transition;
  &:hover, &:focus {
    border-color: @link;
  }
}
input[type=file] {
  font-size: 12px;
}

button {
  .sans-serif;
}
button, .button {
  .make-button;
  display: block;
  width: 200px;
  border: none;
  .border-radius(5px);
  padding: 5px 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  .transition(background .3s ease);
  &:hover {
    text-decoration: none;
  }
}

// GRAVITY FORMS

.gfield_required,
.gform_wrapper li.gfield_error div.ginput_complex.ginput_container label, .gform_wrapper li.gfield_error ul.gfield_checkbox, .gform_wrapper li.gfield_error ul.gfield_radio {
  //color: @link !important;
}
.gform_wrapper label {
  font-weight: normal !important;
}
.gform_wrapper {
  input, textarea {
    padding: 5px 10px !important;
    font-size: 1em !important;
  }
}
.gform_wrapper div.validation_error {
  font-size: 1em !important;
}

.gform_wrapper li.gfield.gfield_error {
  border: none !important;
  background: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
.gform_wrapper.gform_validation_error li.gfield.gfield_error.gfield_contains_required {
  padding-left: 0!important;
}
.gform_wrapper li.gfield_error input, .gform_wrapper li.gfield_error textarea {
  border-width: 2px !important;
  //border-color: @link !important;
}

.ginput_container {
  margin: 0 !important;
}
.gfield_description {
  margin-top: 0 !important;
  padding: 6px 0 !important;
}
.gform_wrapper .validation_message,
.validation_error {
  //color: @link !important;
  font-weight: normal !important;
}
.gform_wrapper .gfield_label {
  color: @ink !important;
}
.gform_wrapper .top_label .gfield_error {
  width: 100% !important;
}
.gform_wrapper .top_label .gfield_error .ginput_container {
  max-width: 100% !important;
}

.gform_wrapper .gsection {
  margin-top: 3em !important;
}
.gform_wrapper input.button {
  padding: 1em 1.5em !important;
}

#gform_wrapper_3 input[type="submit"] {
  width: 270px;
}


//////////////// 0.2 Tables ////////////////

table {
  border-top: 3px solid @grey;
  margin: 20px 0;
  background: @lightGrey;
}
tr {
  border-bottom: 1px solid @grey;
  &:hover {
    background: rgba(0,0,0,0.02);
  }
}
td {
  padding: 5px;
}


//////////////// 0.3 Other Elements ////////////////

.sprite {
  .at2x('../images/sprite.png', 1000px, 600px);
  background-repeat: no-repeat;
}

#scroll-to-top { //image
  .size(40px, 36px);
  position: fixed;
  right: 15px;
  bottom: 20px;
  z-index: 9999;
  .border-radius;
  .box-shadow;
  .opacity(70);
  background-color: #000;
  background-repeat: no-repeat;
  .at2x('../images/scroll-to-top.png', 40px, 36px);
  cursor: pointer;
}


////////////////// 0.4 Wordpress Layout //////////////////

.alignright {
  .floatR;
  margin: 5px 0 14px 14px;
}
.alignleft {
  .floatL;
  margin: 5px 14px 14px 0;
}




/*
  ####################################################
  --------------------------------------------------
  ################################################
  ##############################################
  ################################################
  --------------------------------------------------
  ####################################################
*/


////////////////// 1.0 HEADER //////////////////

#logo {
  display: block;
  background: url("@{img}logo.svg");
}








/* ------------------------
   MEDIA QUERIES
------------------------ */

// S: Landscape phone to desktop/tablet
/*
   #########
  # |     | #              ##########
  # | . . | #           ######     ####
  # |     | #            #######
  # |  v  | #                  #######
  # |_____| #           ####     ######
  #   ( )   #            ###########
   #########
*/

@media (max-width: 767px) {
  .desktop {display: none}
  .wrap {width: 90%;}

  @import "_r-mobile.less";

}


// --------------------------------------------------

// M: Tablet to desktop
/*
   ###################
  #  --------------   #           ###         ###
  # |              |  #           ######    #####
  # |   -     \    |-.#           ####### #######
  # |   -     /    |-`#           ###  #####  ###
  # |              |  #           ###   ###   ###
  #  --------------   #           ###         ###
   ###################
*/

@media (min-width: 768px) and (max-width: 979px) {

  /* 12 col */

  @col: 44px;
  @gap: 20px;
  body {
    font-size: 87.5%;
  }
  .wrap {
    width: (@col + @gap) * 12 - @gap; //748px
  }
  .g-2col { width: (@col + @gap) * 2 - @gap }
  .g-3col { width: (@col + @gap) * 3 - @gap }
  .g-4col { width: (@col + @gap) * 4 - @gap }
  .g-5col { width: (@col + @gap) * 5 - @gap }
  .g-6col { width: (@col + @gap) * 6 - @gap }
  .g-7col { width: (@col + @gap) * 7 - @gap }
  .g-8col { width: (@col + @gap) * 8 - @gap }
  .g-9col { width: (@col + @gap) * 9 - @gap }
  .g-10col { width: (@col + @gap) * 10 - @gap }

  @import "_r-tablet.less";

  html {font-family: "tablet";}
  body:after {content: "tablet";}


  /* 16 col ----------------------------

  @col: 27px;
  @gap: 20px;

  .wrap {
    width: @col * 16 + @gap * 15; //732px; //16col
  }
  .g-11col { width: (@col + @gap) * 11 - @gap }
  .g-12col { width: (@col + @gap) * 12 - @gap }
  .g-13col { width: (@col + @gap) * 13 - @gap }
  .g-14col { width: (@col + @gap) * 14 - @gap }

  ------------------------------------------ */

}


// --------------------------------------------------

// L: Large desktop and up
/*
   ######################
  ##                    ##
  ##     O   |   O      ##           ####
  ##        _|          ##           ####
  ##      -_____-       ##           ####
  ##                    ##           ####
  ##---------==---------##           ####
   ######################            ##############
           /::::\                    ##############
         ==========
*/

@media (min-width: 980px) {
// If XL presents,
// @media (min-width: 980px) and (max-width: 1299px) {

  @col: 60px;
  @gap: 20px;
  .wrap {
    width: (@col + @gap) * 12 - @gap; //940px
  }
  .g-2col { width: (@col + @gap) * 2 - @gap }
  .g-3col { width: (@col + @gap) * 3 - @gap }
  .g-4col { width: (@col + @gap) * 4 - @gap }
  .g-5col { width: (@col + @gap) * 5 - @gap }
  .g-6col { width: (@col + @gap) * 6 - @gap }
  .g-7col { width: (@col + @gap) * 7 - @gap }
  .g-8col { width: (@col + @gap) * 8 - @gap }
  .g-9col { width: (@col + @gap) * 9 - @gap }
  .g-10col { width: (@col + @gap) * 10 - @gap }

  @import "_r-desktop.less";

  html {font-family: "desktop";}
  body:after {content: "desktop";}


  /* 16 col ----------------------------

  @col: 40px;
  @gap: 20px;

  .wrap {
    width: @col * 16 + @gap * 15; //732px; //16col
  }
  .g-11col { width: (@col + @gap) * 11 - @gap }
  .g-12col { width: (@col + @gap) * 12 - @gap }
  .g-13col { width: (@col + @gap) * 13 - @gap }
  .g-14col { width: (@col + @gap) * 14 - @gap }

  ------------------------------------------ */
}



/* For 16col, add another breakpoint for XL screen. */
// --------------------------------------------------

// XL: Large Desktop
/*
   ####      ####    ####
     ####  ####      ####
       ######        ####
      ######         ####
    ####   ####      ##############
  ####       ####    ##############
*/

/*
@media (min-width: 1300px) {

  @col: 54px;
  @gap: 20px;

  .wrap {
    width: @col * 16 + @gap * 15; //1164px; //16col
  }
  .left-col {
    width: @col * 12 + @gap * 11;
    .floatL;
  }
  .right-col {
    width: @col * 3 + @gap * 3.5;
    .floatR;
  }

  .g-2col { width: (@col + @gap) * 2 - @gap }
  .g-3col { width: (@col + @gap) * 3 - @gap }
  .g-4col { width: (@col + @gap) * 4 - @gap }
  .g-5col { width: (@col + @gap) * 5 - @gap }
  .g-6col { width: (@col + @gap) * 6 - @gap }
  .g-7col { width: (@col + @gap) * 7 - @gap }
  .g-8col { width: (@col + @gap) * 8 - @gap }
  .g-9col { width: (@col + @gap) * 9 - @gap }
  .g-10col { width: (@col + @gap) * 10 - @gap }
  .g-11col { width: (@col + @gap) * 11 - @gap }
  .g-12col { width: (@col + @gap) * 12 - @gap }
  .g-13col { width: (@col + @gap) * 13 - @gap }
  .g-14col { width: (@col + @gap) * 14 - @gap }

  h1 {font-size: 2.5em;} // 40/16
  h4 {font-size: 0.75em;} // 12/14

  html {
    font-family: "desktop";
  }
  body:after {
    content: "desktop";
  }

}

@media (min-width: 980px) { // L and up
  @import "_r-desktop.less";
}

*/


// --------------------------------------------------

// M+L: Tablet + desktop
/*
  ###         ###          ####
  ######    #####          ####
  ####### #######    ##    ####
  ###  #####  ###  ######  ####
  ###   ###   ###    ##    ##############
  ###         ###          ##############
*/

@media (min-width: 768px) {
  .mobile {display: none}
  .g-2col,.g-3col,.g-4col,.g-5col,.g-6col,.g-7col,.g-8col,.g-9col, .g-10col {
  //.g-2col,.g-3col,.g-4col,.g-5col,.g-6col,.g-7col,.g-8col,.g-9col, .g-10col, .g-11col, .g-12col, g-13col, .g-14col {
    margin-right: 20px;
    .floatL;

    &.omega { // last one in a row
      margin-right: 0;
    }
  }

  @import "_r-tablet-and-desktop.less";
}



// General @2x
@media all and (-webkit-min-device-pixel-ratio: 1.5) {

}



/*
  ####################################################
  --------------------------------------------------
  ################################################
  ##############################################
  ################################################
  --------------------------------------------------
  ####################################################
*/

/* ------------------------
   PLUGINS
------------------------ */

//@import "../vendor/css/flexslider.css";

